
body {
  font-family: courier new;
  font-size: 75%;
}

#remoteVideo {
  max-width: 100%;
  width: 720px;
}

#localVideo {
	max-width: 15%;
	width: 108px;
}

textarea {
	width: 300px;
	height: 300px;
	border-width: 2px;
}

