
body {
  font-family: courier new;
  font-size: 75%;
}

#remoteVideo {
  max-width: 45%;
  width: 480px;
}

#localVideo {
	max-width: 15%;
	width: 108px;
}

textarea {
	width: 300px;
	height: 300px;
	border-width: 2px;
	font-size: 16px;
}

  button {
    text-align: center;
    font-family: courier new;
    font-size: 16px;
  }
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
  }

