body {
  font-family: impact;
  color: #c0c0c0;
}

video {
  max-width: 100%;
  width: 480px;
}

.button {
  background-color: #ffd700;
  font: impact;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 5px #666;
}

.button:hover {
	background-color: #c0c0c0
}

.button:active {
  background-color: #ffd700;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}